/* .menu {

} */
.grid-muvi{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.menu {
  display: flex;
  flex-direction: column;
/*   width: 75%;*/
  margin: 2%; 
}
/* .main-muvi {
  display: flex;
  flex-direction: column;
    text-align: center;
} */
#main-muvi{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5px;
  background: #BA2B2B  ;
  border-radius: 5px;
margin-bottom: 10px;
margin-right: 10px;
/* border: 1px solid #F8F9F6; */
-webkit-box-shadow: 0px 0px 20px 4px rgba(5,5,5,0.98);
-moz-box-shadow: 0px 0px 20px 4px rgba(5,5,5,0.98);
box-shadow: 0px 0px 20px 4px rgba(5,5,5,0.98);


}
#main-muvi:hover {
  color: #b01616;
  transition: all 0.4s ease-in-out;
  transform: scale(1.15) 
}

.title-muvi {
 color: #F8F9F6;
 width: 150px;
 text-align: center;
 margin: 4px;
}

.muvi-date {
  color: #F8F9F6;
  text-align: center;
  margin: 4px;
}

.img-muvi {
  border-radius:5px 5px 0px 0px ;
  border: 1px ;
  width: 160px;
  height: 240px;
}
main {
  display: flex;
  flex-direction: row;
  padding: 0px;
margin-right: 0px;
}
.homeBody {
  display: flex;
  flex-direction: row;
}
