/* * {
  margin: 0;
  padding: 0;
} */
body {
  background: #212020;
padding: 0%;
}
button {
  cursor: pointer;
  border-radius: 6px;
} 
/* .header {
  display: flex;
  flex-direction: column;
  padding-left: 16rem;
  width: 100%;
  height: 100vh;
}
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background-color: rgb(24, 40, 66);
} */

button:hover {
  transform: scale(1.1);
}
#generalSection {
  display: flex;
  flex-direction: row;
}
