.pages {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center

}
.pages button {
  width: 100px;
  height: 40px;
  height: 35npmpx;
  background-color: rgba(214, 29, 35, 0);
  border: none;
  color: #F8F9F6;
  font-size: 16px;
  border:1px solid #F8F9F6;
  text-align: center;
}
.pages button:hover {
  color: #b01616;
  transition: all 0.5s ease-in-out;
  transform: scale(1.2)
}
