.side {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  
}
.logoHome {
  width: 150px;
  height: 120px;
  margin-left: 30px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 10px;
  z-index: 10;
}
.filter {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #212020;
  color: #F8F9F6;
  width: 150px;
  padding: 10px 15px;
  border: 1px solid #F8F9F6;
  text-align: center;
  border-radius: 0 0 10px 10px;
/*   display: flex;
  flex-direction: column; */
  margin-bottom: 10px;
}


#main {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  width: 180px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 200px;
  z-index: 10;
}
h1 {
  color: #F8F9F6;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
   font-weight: normal;
  margin: 10px;
}

h2 {
  color: #F8F9F6;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: normal;
 margin: 4px;
}
h2:hover {
  color: #b01616;
  transition: all 0.5s ease-in-out;
  transform: scale(1.2)
}
.imgSidebar {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 20px;
}
.order {
  display: flex;
  flex-direction: row;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #212020;
  color: #F8F9F6;
  width: 150px;
  padding: 10px 15px;
  border: 1px solid #F8F9F6;
  border-radius: 10px 10px 0 0;
}

.btn:hover::after {
  transform: scaleX(1.2);
}

.btn {
  color: #07040c;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  color: #b01616;
  transition: all 0.5s ease-in-out;
}
.search-icon {
  position: absolute;
  right: 30px;
  top: 45%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  }
.search-container {
  display: inline-flex;
  position: relative;
  float: left;
  padding: 0px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 30px;
  justify-content: center;
  width: 200px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 150px;
  z-index: 10;
}
.input-style {
  width: 150px;
  height: 20px; 
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 2% 2% ;
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  background-color: #FFFFF9;
}

/* .sidebar-genre {
  height: 100vh;
  width: 16rem;
}
.sidebar-title {
    color: #F8F9F6;
}

.genre-contain {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: #F8F9F6;
  margin-top: 60px;
  margin-left: 10px;
}
.genre-contain button {
  font-size: 14px;
  width: 80px;
  padding: 3px;
  color: #F8F9F6;
  background-color: rgb(24, 40, 66);
  border: none;
}
.sidebar-year {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
  font-size: 25px;
  color: #F8F9F6;
}
.container-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar-input {
 width: 100px;
 padding: 5px;
  text-align: center;
 margin: 10px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
} */
/* span {
  color: #F8F9F6;
  margin-left: 5px;
}
.sidebar-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-search button {
  background-color: yellow;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 6px;
  margin-top: 50px;
  font-size: 16px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

 */