h1 {
  color: #F8F9F6;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.sidebar-genre {
  height: 100vh;
  width: 16rem;

/*   position: fixed; */
}
.sidebar-title {
    color: #F8F9F6;
}

.genre-contain {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: #F8F9F6;
  margin-top: 60px;
  margin-left: 10px;
}
.genre-contain button {
  font-size: 14px;
  width: 80px;
  padding: 3px;
  color: #F8F9F6;
  background-color: rgb(24, 40, 66);
  border: none;
}
.sidebar-year {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
  font-size: 25px;
  color: #F8F9F6;
}
.container-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar-input {
 width: 100px;
 padding: 5px;
  text-align: center;
 margin: 10px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
span {
  color: #F8F9F6;
  margin-left: 5px;
}
.sidebar-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-search button {
  background-color: yellow;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 6px;
  margin-top: 50px;
  font-size: 16px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
